
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/lib/bootstrap-v4/css/bootstrap.min.css" rel="stylesheet" />

    <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div class="spinner"></div>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-white navbar-dark">
            <a class="navbar-brand" href="#">
                <img src="/assets/client/images/logo.png" alt="" />

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" style="color:black" asp-controller="Product" asp-action="Index">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black;" asp-controller="Role" asp-action="Index">Role</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:black;" asp-controller="User" asp-action="Index">User</a>
                    </li>
                </ul>

            </div>
        </nav>
        <main>
            @RenderBody()
        </main>
        <footer class="jumbotron text-center" style="margin-bottom:0">
            <p>Copy right &copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation/jquery.validate.unobtrusive.min.js"></script>
    <script src="/lib/bootstrap-v4/js/bootstrap.min.js"></script>
    @RenderSection("Script", false)
</body>
</html>
<script>
    $(document).on({
        ajaxStart: function () {
            $(".spinner").show();
        },
        ajaxStop: function () {
            $(".spinner").hide();
        },
        ajaxError: function () {
            $(".spinner").hide();
        }
    });
    $(window).on('load', function () {
        $(".spinner").hide();
    });
    $(window).on('beforeunload', function () {
        $(".spinner").show();
    });
</script>