@{
    ViewBag.Title = "Create User";
    var roles = ViewBag.Roles as IQueryable<IdentityRole>;
    Layout = "~/Views/User/_LayoutUser.cshtml";
}

@model CreateUserViewModel

<div class="col-md-4" style="margin: 0 auto">
    <div class="users-form">
        <h3 class="text-center">TẠO USER</h3>
        <form enctype="multipart/form-data" method="post" asp-controller="User" asp-action="Create">
            <div class="form-group">
                <label asp-for="Email"></label>

                <input asp-for="Email" class="form-control" placeholder="Tên đăng nhập">
                <span asp-validation-for="Email" class="text-danger"></span>
                <!-- <label for="user_login">Tên login</label> -->
                <!--USER-->
            </div>

            <div class="form-group">
                <!-- <label for="user_pass">Mật khẩu</label> -->
                <label asp-for="Password"></label>

                <input asp-for="Password" class="form-control" placeholder="Mật Khẩu">
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>

                <input asp-for="ConfirmPassword" class="form-control" placeholder="Nhập Lại Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <!-- <label for="user_login">Tên login</label> -->
                <!--USER-->
            </div>
            <div class="form-group">
                <label asp-for="City"></label>

                <input asp-for="City" class="form-control" placeholder="City">

                <!-- <label for="user_login">Tên login</label> -->
                <!--USER-->
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>

                <input asp-for="Address" class="form-control" placeholder="Address">

            </div>
            <div class="form-group">

                <label asp-for="RoleId"></label>

                <select asp-for="RoleId" class="custom-select">
                    <option value="value">Select a role</option>
                    @if (roles != null && roles.Any())
                    {
                        foreach (var role in roles)
                        {
                            <option value="@role.Id">@role.Name</option>
                        }
                    }

                </select>

            </div>
            <button type="submit" class="btn btn-primary w-100">CREATE</button>
            <hr />
            <a asp-controller="User" asp-action="Index" class="btn btn-danger w-100">CANCEL</a>

            <div asp-validation-summary="All" class="text-danger"></div>

        </form>
    </div>
</div>