@model List<Category>
@inject AppDbContexts context
@{
    var MaxSale = context.Products.Max(x => x.SaleCount);
    Product ProductTop = context.Products.FirstOrDefault(el => el.SaleCount == MaxSale);

}

<br />
<div>
    <marquee scrollamount=15 Alternate behavior=”alternate”>
        <img src="img/xaoomi.jpg" style="width: 20%;">
        <img src="img/samsung.jpg" style="width: 20%;">
        <img src="img/nokia.jpg" style="width: 20%; " />
        <img src="img/xaoomi.jpg" style="width: 20%;">
        <img src="img/xaoomi.jpg" style="width: 20%;">
        <img src="img/samsung.jpg" style="width: 20%;">
        <img src="img/nokia.jpg" style="width: 20%; " />
        <img src="img/xaoomi.jpg" style="width: 20%;">
    </marquee>
</div>

<br />

<div style="padding:10px; color:black;text-align:center;font-size:25px">
    <h1>ĐIỆN THOẠI GIÁ TỐT</h1>
</div>

@foreach (var item in Model)
{
    <div class="col-lg-2 col-sm-4 portfolio-item">
        <div class="card h-100">
            <a asp-action="WatchProducts" asp-controller="CustomerHome" asp-route-id="@item.Id">
                <img class="card-img-top" src="~/img/logophone.jpg" alt="" style="height:150px">
            </a>
            <div class="card-body">
                <hr />
                <h4 class="card-title" style="text-align:center">

                    <a asp-action="WatchProducts" asp-controller="CustomerHome" asp-route-id="@item.Id">
                        @item.Name
                    </a>
                  
                </h4>
            </div>
        </div>
    </div>
}


<hr />
@await Html.PartialAsync("_TopSaleProductView", ProductTop)

