@model CreateRole
@{
    ViewBag.Title = "Create Role";
    Layout = "~/Views/User/_LayoutUser.cshtml";
}


<div class="col-md-4" style="margin: 0 auto">
    <div class="users-form">
        <h3 class="text-center">TẠO MỚI ROLE</h3>
        <form enctype="multipart/form-data" method="post" asp-controller="Role" asp-action="Create">
            <div class="form-group">
                <label asp-for="RoleName"></label>

                <input asp-for="RoleName" class="form-control" placeholder="Role Name">
                <span asp-validation-for="RoleName" class="text-danger"></span>


            </div>

            <button type="submit" class="btn btn-primary w-100">TẠO MỚI</button>
            <hr />
            <a class="btn btn-warning w-100" a asp-controller="Role" asp-action="Index">Back</a>
            @*<a asp-controller="Role" asp-action="Index" class="btn btn-warning">Back</a>*@
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>
